<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autos.Web</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Autos.Web.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
</head>
<body>

    <!-- NAVBAR BULMA -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" asp-controller="Autos" asp-action="Index">
                Autos.Web
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; 2026 - Autos.Web
            </p>
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
